@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

html {
  height: 100vh;
}

body {
  margin: 0;
  background-color: #333;
  color: rgba(255, 112, 178, 1);
  font-family: "DotGothic16", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

::selection {
  background: rgba(86, 140, 135, 1);
  color: rgba(119, 203, 121, 1);
}

header {
  background: rgba(86, 140, 135, 1);
  color: rgba(119, 203, 121, 1);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: rgba(119, 203, 121, 1);
  border: 2px solid rgba(119, 203, 121, 1);
  padding: 0 1rem;
  border-radius: 10px;
  line-height: 2;
}

header nav a:hover {
  background: #333;
  color: rgba(255, 112, 178, 1);
}

main {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 4rem;
  overflow: auto;
  margin: 1.5rem;
  padding: 0.5rem;
}

main::-webkit-scrollbar {
  height: 8px;
  background: radial-gradient(
    circle,
    rgba(86, 140, 135, 1) 39%,
    rgba(119, 203, 121, 1) 42%,
    rgba(255, 196, 112, 1) 69%,
    rgba(255, 112, 178, 1) 91%
  );
}

main img {
  border-radius: 1rem;
  user-select: none;
  -webkit-user-drag: none;
}

main table {
  color: rgba(255, 196, 112, 1);
  margin: 0 auto;
  width: 320px;
}

main tr:first-child {
  background-color: rgba(255, 112, 178, 1);
  color: #333;
}

main tr:nth-child(even) {
  background-color: rgba(255, 196, 112, 1);
  color: #333;
}

main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

form {
  display: grid;
  grid-auto-flow: column;
}

form button {
  width: 32px;
}

input[type="text"] {
  font-family: "DotGothic16", sans-serif;
  line-height: 2;
  background: rgba(86, 140, 135, 1);
  color: rgba(255, 196, 112, 1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  padding-left: 1ch;
}

input[type="text"]:focus {
  outline: none;
}

button {
  background: rgba(86, 140, 135, 1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  padding: 1.5rem auto;
  text-align: center;
  background-color: #000;
}
